@import "../../styles/variables";

.alert {
    grid-template-columns: 0.25fr 1fr;
    grid-gap: 0.25rem;
    align-items: center;

    color: $font-color-error;
    background-color: $bg-error;

    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;

    border: 1px solid transparent;
    border-radius: 0.25rem;

    font-size: 0.75rem;

    img {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 0.5rem;
    }

    &__message {
        &__heading {
            font-size: 1rem !important;
            font-weight: 600;
        }
    }
}